.alacena-banner-section {
    padding-top: 100px;
    padding-bottom: 115px;
}
.banner-content {
    .banner-text {
        padding-left: 125px;
        .sub-title {
            font-size: 75px;
            line-height: 1.1;
            font-family: $titleFont;
            margin-bottom: 20px;
        }
        .title {
            max-width: 800px;
        }
        span {
            font-weight: 500;
        }
    }
    .scroll-bar {
        margin-top: 150px;
        i {
            transform: rotate(-90deg);
            display: inline-block;
            color: $primaryColor;
            font-size: 25px;
        }
    }
}
