.blog-area {
    padding-bottom: 60px;
    .blog-title {
        padding-left: 25px;
        margin-bottom: 165px;
    }
    .blog-content-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-item {
        position: relative;
        margin-bottom: 115px;
        .video-img {
            min-height: 499px;
            min-width: 873px;
            padding-right: 25px;
        }
        .video-area {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            .popup-videos-button {
                i {
                    font-size: 40px;
                    width: 130px;
                    height: 130px;
                    line-height: 130px;
                    text-align: center;
                    border: 1px solid $whiteColor;
                    border-radius: 50%;
                    display: inline-block;
                }
            }
        }
        .desc_1 {
            margin-bottom: 28px;
        }
        .desc-1 {
            max-width: 360px;
        }
        .blog-content {
            margin-top: 30px;
            .date {
                font-size: 14px;
                text-transform: uppercase;
            }
            .title-link {
                color: $titleColor;
                transition: 0.4s;
                display: block;
                margin-bottom: 25px;
                line-height: 1;
                &:hover {
                    color: $primaryColor;
                }
            }
            .blog-link {
                font-size: 14px;
                text-transform: uppercase;
                color: $titleColor;
                transition: 0.4s;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background: $titleColor;
                    transition: 0.4s;
                }
                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
        .blog-pl {
            padding-left: 20px;
        }
    }

    .blog-content-1 {
        .blog-item {
            .video-img {
                padding-right: 0;
                min-width: 850px;
            }
            .desc {
                max-width: 380px;
            }
        }
        .blog-item-1 {
            .blog-content {
                padding-left: 20px;
            }
            .desc {
                max-width: 540px;
            }
        }
    }
}
.blog-pagination {
    margin-top: 80px;
    .pagination-list {
        li {
            display: inline-block;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: $titleColor;
                transition: 0.4s;
                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }
}
