.alacena-primary-btn {
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid $whiteColor;
    color: $whiteColor;
    height: 60px;
    line-height: 60px;
    min-width: 190px;
    display: inline-block;
    text-align: center;
    &:hover {
        border-color: transparent;
        background-color: #e5ac0e;
        color: $whiteColor;
    }
}
.alacena-secondary-btn {
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid $titleColor;
    color: $titleColor;
    height: 60px;
    line-height: 60px;
    padding: 0 45px;
    display: inline-block;
    text-align: center;
    &:hover {
        border-color: transparent;
        background-color: #e5ac0e;
        color: $whiteColor;
    }
}
.alacena-large-btn {
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid $titleColor;
    color: $titleColor;
    height: 60px;
    line-height: 60px;
    min-width: 540px;
    text-align: center;
    display: inline-block;
    text-align: center;
    &:hover {
        border-color: transparent;
        background-color: #e5ac0e;
        color: $whiteColor;
    }
}
