.catering-area {
    padding-bottom: 160px;
    .catering-title {
        margin-bottom: 40px;
    }
    position: relative;
    .wrapper-group {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
    .wrapper-1,
    .wrapper-2,
    .wrapper-3 {
        margin-bottom: 25px;
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
    .wrapper-2 {
        position: relative;
        margin-top: 100px;
        margin-bottom: 95px;
    }
}
.catering-1 {
    padding-bottom: 235px;
}
.catering-2 {
    padding-bottom: 100px;
    .catering-content-area {
        .catering-wrapper {
            margin-bottom: 80px;
        }
    }
    .catering-bottom-content .desc {
        margin-bottom: 30px;
    }
}
.catering-3 {
    .catering-content-area {
        .catering-wrapper {
            margin-bottom: 85px;
        }
    }
    .catering-bottom-content {
        .desc {
            margin-bottom: 35px;
        }
    }
}
.catering-bottom-content {
    .desc {
        font-size: 21px;
        margin-bottom: 60px;
    }
}
// catering-text-area
.catering-text-area {
    padding-bottom: 205px;
    .catering-content {
        .desc {
            max-width: 530px;
        }
    }
}
// clasico-area
.clasico-area {
    padding-bottom: 305px;
    .clasico-left-content {
        position: relative;
        .title {
            margin-bottom: 35px;
        }
        .desc {
            max-width: 480px;
            margin-bottom: 117px;
        }
    }
}
// aperitivo-area
.aperitivo-area {
    padding-bottom: 140px;
    .aperitivo-title {
        margin-bottom: 75px;
    }
    .aperitivo-left-content {
        .desc {
            max-width: 585px;
            margin-top: 75px;
        }
    }
}
.aperitivo_two {
    padding-bottom: 310px;
}
// estaciones-area
.estaciones-area {
    padding-bottom: 230px;
    .estaciones-title {
        margin-bottom: 70px;
        .title {
            margin-bottom: 35px;
        }
        .desc {
            max-width: 470px;
        }
    }
    .estaciones-wrapper {
        margin-bottom: 70px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        left: -5px;
        top: auto;
        bottom: 0;
        color: #0d0d0d;
    }
    .swiper-button-next {
        left: auto;
        right: -5px;
    }
}
.estaciones-two {
    padding-bottom: 285px;
    .estaciones-desc {
        margin-top: 60px;
    }
}
// mucho-area
.mucho-area {
    margin-bottom: 205px;
    .mucho-title {
        margin-bottom: 40px;
    }
    .mucho-wrapper {
        margin-bottom: 70px;
    }
    .desc {
        max-width: 625px;
        margin-bottom: 70px;
    }
}
.mucho_two {
    margin-bottom: 40px;
}

// alacena-slider-group
.alacena-slider-group {
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}
