.completamos-area {
    padding-bottom: 375px;
    .completamos-title {
        margin-bottom: 60px;
    }
    .completamos-content {
        .desc {
            margin-top: 70px;
            margin-bottom: 0;
            max-width: 435px;
        }
    }
}
.completamos-1 {
    padding-bottom: 205px;
    .completamos-content {
        .desc {
            margin-top: 60px;
            margin-bottom: 45px;
            max-width: 410px;
        }
    }
}
