.confia-area {
    background: url(../images/bg/confia-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 330px;
    padding-bottom: 135px;
}
.confia-right-content {
    .confia-desc {
        font-size: 21px;
        max-width: 350px;
        margin: 0 auto;
    }
    .desc-1 {
        margin-top: 25px;
    }
    .alacena-primary-button {
        padding-left: 150px;
        margin-top: 45px;
    }
}
