.contacto-area {
    .contacto-form {
        margin-bottom: 50px;
        label {
            font-size: 18px;
        }
        input {
            border-bottom: 1px solid rgba(112, 112, 112);
            width: 100%;
        }
    }
    .textarea-form {
        label {
            font-size: 18px;
        }
        textarea {
            border-bottom: 1px solid rgba(112, 112, 112);
            color: $titleColor;
            width: 100%;
        }
    }
    .form-button {
        margin-top: 65px;
        button {
            font-size: 14px;
            text-transform: uppercase;
            border: 1px solid #0d0d0d;
            background-color: transparent;
            color: #0d0d0d;
            height: 60px;
            line-height: 60px;
            width: 240px;
            display: inline-block;
            text-align: center;
            transition: 0.4s;
            &:hover {
                background-color: #e5ac0e;
                border-color: transparent;
                color: $whiteColor;
            }
        }
    }
}
.select-active-form {
    .contacto-select {
        border-bottom: 1px solid rgba(112, 112, 112);
    }
    .btn-secondary {
        background-color: transparent;
        border-color: transparent;
        color: $titleColor;
        font-size: 18px;
        border-radius: 0;
        padding: 0;
        margin-bottom: 40px;
    }
    .btn-check:focus + .btn-secondary,
    .btn-secondary:focus {
        color: $titleColor;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
    }
    .dropdown-item {
        color: $titleColor;
        font-size: 18px;
    }
    .dropdown-item:hover {
        background-color: #e5ac0e;
        color: $whiteColor;
    }
    .dropdown-item:active {
        background-color: $primaryColor;
    }
    .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0;
        padding: 0;
        top: 38px !important;
    }
    .dropdown-toggle::after {
        content: "\e902";
        font-family: "icomoon" !important;
        right: 100px;
        font-size: 8px;
        top: 10px;
        position: absolute;
        border-right: 0;
        border-bottom: 0;
        border-top: 0;
        border-left: 0;
    }
}
.select-active-bodas {
    border-bottom: 1px solid rgba(112, 112, 112);
    width: 100%;
    .btn-secondary {
        background-color: transparent;
        border-color: transparent;
        color: $titleColor;
        font-size: 18px;
        border-radius: 0;
        font-size: 14px;
        padding: 0;
        text-transform: uppercase;
    }
    .btn-check:focus + .btn-secondary,
    .btn-secondary:focus {
        color: $titleColor;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
    }
    .dropdown-item {
        color: $titleColor;
        font-size: 18px;
    }
    .dropdown-item:hover {
        background-color: #e5ac0e;
        color: $whiteColor;
    }
    .dropdown-item:active {
        background-color: $primaryColor;
    }
    .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0;
        padding: 0;
        top: 2px !important;
    }
    .dropdown-toggle::after {
        content: "\e902";
        font-family: "icomoon" !important;
        right: 100px;
        font-size: 8px;
        top: 10px;
        position: absolute;
        border-right: 0;
        border-bottom: 0;
        border-top: 0;
        border-left: 0;
    }
}
.map-area {
    padding-top: 195px;
    .contact-content-area {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 65px;
        .map-contact {
            ul {
                li {
                    text-transform: uppercase;
                    color: $titleColor;
                    font-size: 16px;
                    line-height: 2.3;
                    a {
                        color: $titleColor;
                        transition: 0.4s;
                        font-size: 18px;
                        &:hover {
                            color: $primaryColor;
                        }
                    }
                    .mail-link {
                        text-decoration: underline;
                        font-size: 16px;
                    }
                    span {
                        padding-left: 35px;
                    }
                }
            }
        }
        .mail-contact {
            ul {
                li {
                    line-height: 3;
                }
            }
        }
    }
    iframe {
        width: 100%;
        min-height: 560px;
        filter: brightness(98%) contrast(71%) saturate(0%) blur(0px) hue-rotate(0deg);
    }
}
