.cta-area {
    background: url(../images/bg/cta-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 365px;
    padding-bottom: 150px;
}
.cta-1 {
    background: url(../images/bg/cta-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cta-2 {
    background: url(../images/bg/cta-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cta-3 {
    background: url(../images/bg/confia-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cta-4 {
    background: url(../images/bg/cta-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cta-5 {
    background: url(../images/bg/cta-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cta-6 {
    background: url(../images/bg/cta-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    padding-top: 245px;
    padding-bottom: 165px;
    .cta-title {
        position: relative;
        margin-top: -80px;
    }
}
.cta-content {
    .title {
        margin-bottom: 25px;
    }
    .desc {
        max-width: 400px;
        margin-bottom: 40px;
    }
}
