.cuidamos-area {
    padding-bottom: 385px;
    .cuidamos-title {
        margin-bottom: 90px;
    }
    .cuidamos-text {
        margin-bottom: 60px;
        .desc {
            font-family: $titleFont;
            font-size: 30px;
            max-width: 275px;
            line-height: 1.1;
        }
    }
}
