.equipo-area {
    padding-bottom: 30px;
    .equipo-title {
        margin-bottom: 65px;
    }
}
.equipo-item {
    margin-bottom: 100px;
    .equipo-content {
        margin-top: 25px;
        .equipo-link {
            font-size: 16px;
            text-transform: uppercase;
            color: $titleColor;
            transition: 0.4s;
            font-family: $bodyFont;
            &:hover {
                color: $primaryColor;
            }
        }
        .mail-desc {
            font-size: 21px;
            margin-bottom: 0;
        }
        .desc {
            font-size: 18px;
            margin-bottom: 0;
        }
        .equipo-mail {
            color: $titleColor;
            font-size: 18px;
            transition: 0.4s;
            &:hover {
                color: $primaryColor;
            }
        }
    }
    .margin-1 {
        padding-left: 35px;
    }
    .margin-2 {
        padding-left: 70px;
    }
    .margin-3 {
        padding-left: 60px;
    }
}
