.gallery-area {
    padding-bottom: 150px;
    .gallery-secondary-button {
        margin-top: 80px;
        margin-bottom: 260px;
    }
}
.gallery-bg-wrapper {
    margin-bottom: 25px;
}
.gallery-wrapper {
    margin-bottom: 25px;
    img {
        min-height: 500px;
    }
}
