.galeria-area {
    padding-bottom: 245px;
    .parallax-window-5 {
        width: 100%;
        min-height: 595px;
    }
    .parallax-window-21 {
        width: 100%;
        min-height: 595px;
    }
}
.galeria-title {
    margin-bottom: 90px;
}
.galeria-wrapper {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .wrapper_1 {
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
        .img-1 {
            width: 100%;
            height: 500px;
        }
    }
}
.galeria-video-wrapper {
    position: relative;
    .video-area {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .popup-videos-button {
            i {
                width: 130px;
                height: 130px;
                line-height: 130px;
                text-align: center;
                border-radius: 50%;
                font-size: 40px;
                border: 2px solid $whiteColor;
                display: inline-block;
            }
        }
    }
}
.galeria-secondary-button {
    margin-top: 85px;
}
// galeria-slider-area
.galeria-slider-area {
    .galeria-top-title {
        padding-left: 40px;
        margin-bottom: 60px;
    }
    .galeria-slider-wrapper {
        margin-bottom: 70px;
        img {
            min-width: 100%;
            height: 500px;
        }
    }
    .galeria-title {
        margin-bottom: 8px;
    }
}
.galeria-slider-1 {
    padding-top: 130px;
}
.galeria-slider_1 {
    .galeria-slider-wrapper {
        margin-bottom: 15px;
    }
    .galeria-title {
        margin-bottom: 160px;
    }
}
.tabs-slider-1 {
    padding-top: 125px;
}
.swiper-button-next,
.swiper-button-prev {
    left: 295px;
    top: auto;
    bottom: 0;
    color: #0d0d0d;
    &::after {
        font-size: 30px;
    }
}
.swiper-button-next {
    left: auto;
    right: 295px;
}
.slider-galeria-button {
    display: none;
}
// galeria-video-area
.galeria-video-area {
    padding-top: 140px;
    .video-wrapper {
        position: relative;
        .video-area {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .popup-videos-button {
                i {
                    width: 130px;
                    height: 130px;
                    line-height: 130px;
                    text-align: center;
                    border-radius: 50%;
                    font-size: 40px;
                    border: 2px solid $whiteColor;
                    display: inline-block;
                }
            }
        }
    }
}
