.lugares-area {
    padding-bottom: 220px;
    .lugares-title {
        margin-bottom: 35px;
    }
    .lugares-wrapper {
        margin-bottom: 60px;
    }
    .lugares-content {
        .desc {
            max-width: 500px;
        }
        .lugares-secondary-button {
            margin-top: 75px;
        }
    }
}
.lugares-2 {
    padding-bottom: 135px;
    .lugares-content {
        padding-left: 55px;
    }
    .lugares-content .desc {
        max-width: 480px;
    }
    .lugares-wrapper {
        margin-bottom: 80px;
    }
    .lugares-content {
        .lugares-secondary-button {
            margin-top: 50px;
        }
    }
}
.lugares_1 {
    padding-bottom: 75px;
}
.lugares-3 {
    padding-bottom: 280px;
    .lugares-content .lugares-secondary-button {
        margin-top: 45px;
    }
}
.lugares-4 {
    padding-bottom: 130px;
    .lugares-wrapper {
        margin-bottom: 115px;
    }
    .lugares-content {
        .desc {
            max-width: 100%;
        }
    }
}
