@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1335px;
    }
}

@media only screen and (max-width: 1650px) {
}

@media only screen and (max-width: 1520px) {
}

@media only screen and (max-width: 1440px) {
}

/*as col-md*/
@media only screen and (max-width: 1366px) {
}

/*as col-md*/
@media only screen and (max-width: 1199px) {
    .alacena-main-menu .main-menu li {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 991px) {
    .hambagur-icon {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
}

/*medium mobile device*/
@media only screen and (max-width: 575px) {
}

/*medium mobile device*/
@media only screen and (max-width: 480px) {
}
